* {
    margin: 0;
    padding: 0;
}


/*------------Header------------*/
header {
    background-color: #133133;
    width: 100%;
}
#containerheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
#divimgheader {
    width: 10%;
    margin-left: 2%;
    cursor: pointer;
}
#diviconsheader {
    width: 20%;
    margin-right: 4%;
}
#imglogo {
    width: 100%;
    min-width: 100px;

}

#divheader {
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pheader {
    color: #fff;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

#divicons1, #divicons2, #divicons3 {
    text-align: center;
    width: 50%;
    min-width: 35px;
}
#divtextheader {
    width: 30%;
    height: 2vw;
}

#labelheader {
    font-size: 1vw;
    color: white;
    width: 100%;
    min-width: 150px;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}
#imgperfil, #imgcall {
    width: 50%;
    height: auto;

}
#imgcarrinho {
    width: 50%;
    height: auto;
}

/*------------main------------*/
main {
    padding: 0% 5%;
}

#containermain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

#divcamisa {
    width: 40%;
    height: auto;
}

#camisaprin {
    width: 100%;
    height: auto;
}